@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  font-family: 'nunito', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

:root {
  --bg-color: #1e1e20;
  --bg-light-color: #303036;
  --text-color: #f9f9f9;
  --para-color: #9c9c9c;
  --main-color: #d4af37; /***#8f43ee**/ /***#d4af37**#4387ee*/
  --light-color: #74a5f0; /***#b37df5**/
  --extra-light: #9bc3ff; /***#cea5ff**/
  --white-text: #ffff;
}

html {
  font-size: 80.2%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .7rem;
}

html::-webkit-scrollbar-track {
  background: #eee;
}

html::-webkit-scrollbar-thumb {
  background: ;
}

body {
  background: #f5f5f5ee;
  padding-right: 5rem;
}

header {
  position: fixed;
  top: 0; right: 0;
  min-height: 100vh;
  display: inline-flex;
  align-items: center;
  background: #ffff;
  z-index: 1000;
}

header .navbar {
  writing-mode: vertical-lr;
  padding: 2rem; 

}

header .navbar a {
  text-decoration: none;
  padding: 2rem;
  font-size: 1rem;
  color: #222;
  text-transform: uppercase;

}

header .navbar a:hover {
  color: var(--main-color);
}

/* Home Section */

section {
  padding: 2rem 9%;
  min-height: 100vh;

}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}

.home .content {
  text-align: center;
  position: relative;
  z-index: 1;
}

.home .content img {
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1rem solid var(--main-color);
}

.home .content h3 {
  font-size: 3rem;
  color: #222;
  text-transform: uppercase;
}

.home .content h3 span {
  text-transform: uppercase;
  color: var(--main-color);
}

.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home .content p {
  color: #222;
  font-size: 2rem;
  line-height: 2;
}

.home .content .btn {
  background-color: var(--bg-light-color);
  color: var(--white-text);
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  font-size: 1.7rem;
  border-radius: 5px;
  line-height: 2;
}

.home .content .btn:hover {
  background-color: var(--main-color);
  letter-spacing: .1rem;
}

#menu-bars {
  position: fixed;
  z-index: 2001;
  top: 2rem;
  left: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  color: #ffff;
  background: var(--main-color);
  cursor: pointer;
  display: none;
}

/* About Section */

.heading {
  text-align: center;
  font-size: 3rem;
  color: #222;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.about .row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.about .row .image {
  flex: 1 1 25rem;
  text-align: center;
}

.about .row .image img {
  width: 60%;
  border-radius: .2rem;
  border: 1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

}

.about .row .content {
  flex: 1 1 55rem;
  font-size: 1.2rem;
}

.about .row .content h3 {
  font-size: 1.2rem;
}

.about .row .content .info {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 1rem 0;
}

.about .row .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 0;
  padding: 1rem 0;

}

.about .row .content .box-container .box {
  flex: 1 1 15rem;
}

.about .row .content .box-container .box h3 {
  font-size: 1.2rem;
  color: var(--bg-light-color);
  padding: .1rem 0;
  line-height: 1.5;
  font-style: italic;
}

.about .row .content .box-container .box span {
  color: var(--bg-color);
  font-size: 1.2rem;
  line-height: 1.5;
  
}

.about .content a {
  background-color: var(--bg-light-color);
  color: var(--white-text);
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 2rem;
  font-size: 1.3rem;
  border-radius: 5px;
  line-height: 1.5;
}

.about .content a:hover{
  background: var(--main-color);
}

/* mune-bar responsive */

@media (max-width:991px) {
  html {
    font-size: 55%;

  }

  body {
    padding-right: 0;
  }

  header {
    width: 100%;
    top: -100%;
  }

  header.active {
    top: 0%;
  }

  #menu-bars {
    display: initial;

  }

  header .navbar {
    writing-mode: horizontal-tb;
  }

  header .navbar a {
    display: block;
    font-size: 1.5rem;
  }
 
}

@media (max-width:450px) {
  html {
    font-size: 50%;
  }


}